.btn {
    background-color: #0D6EFD;
    color: white;
    border-radius: 10px;
    border: none;
    height: 2rem;
    padding: 0 20px;
    cursor: pointer;
}

.selected {
    background-color: #FFC107;
    color: black;
}